<% content_for(:title) { "Build Status" } %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
        <div data-id="circle-ci-NOMS-DIGITAL-STUDIO-hub-content-feed" data-view="CircleCi" data-title="Hub Content Feed"></div>
    </li>


    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-NOMS-DIGITAL-STUDIO-hub-admin" data-view="CircleCi" data-title="Hub Admin"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-NOMS-DIGITAL-STUDIO-hub-admin-ui" data-view="CircleCi" data-title="Hub Admin UI"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-NOMS-DIGITAL-STUDIO-hub-smoke-tests" data-view="CircleCi" data-title="Hub Smoke Tests"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="circle-ci-NOMS-DIGITAL-STUDIO-hub-function-test" data-view="CircleCi" data-title="Hub Function Test"></div>
    </li>

  </ul>
</div>